.home-page,
.movie-page{
    margin-top: 45px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.back-link{
    color: #fff;
    display: inline-block;
    margin-bottom: 1rem;
}