.movie-poster{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:after{
        background-color: rgb(255,255,255);
        content: '';
        height: 100%;
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: all 0.2s ease-in-out;
        width: 100%;
    }
    
    img{
        display: block;
        max-width: 100%;
    }

    &:hover{
        transform: scale(1.1);

        &:after{
            opacity: 0.1;
        }
    }
}